.fight {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pressButton {
  text-align: center;
  font-weight: 700;
  color: #ff0000;
  font-size: 24px;
}

.finishHim {
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translateX(-50%);
  & img {
    display: block;
    width: 300px;
  }
}

.fatality {
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.questionMark {
  position: absolute;
  top: 40%;
  right: -60px;
  transform: translateY(-50%);
  color: #ff0000;
  font-size: 110px;
}

.superFight {
  position: absolute;
  top: 100px;
  right: 50px;
}
