.app {
  position: relative;
}

.particles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.smallScreen {
  display: none;
}

@media screen and (max-width: 407px) {
  .app {
    display: none;
  }
  .smallScreen {
    display: block;
    padding: 10px;
    font-size: 20px;
    color: #ff0000;
  }
}
