.container {
  min-height: 100vh;
  min-width: 100vw;
  background-size: cover;
  background-color: #fda90f;
}

.arena1 {
  background-image: url(../../assets/arenas/blackdragonfightclub.jpg);
}

.arena2 {
  background-image: url(../../assets/arenas/blackmarketalley.jpg);
}

.arena3 {
  background-image: url(../../assets/arenas/chaotianage.png);
}

.arena4 {
  background-image: url(../../assets/arenas/cyberlinkueiassembly.jpg);
}

.arena5 {
  background-image: url(../../assets/arenas/kronikashourglass.jpg);
}

.arena6 {
  background-image: url(../../assets/arenas/losthiveofthekytinn.jpg);
}

.arena7 {
  background-image: url(../../assets/arenas/prehistoricage.png);
}

.arena8 {
  background-image: url(../../assets/arenas/shaolintrapdungeon.jpg);
}

.arena9 {
  background-image: url(../../assets/arenas/shinnoksbonetemple.jpg);
}

.arena10 {
  background-image: url(../../assets/arenas/specialforcesdesertcommand.jpg);
}

.arena11 {
  background-image: url(../../assets/arenas/tnseaofblood.jpg);
}

.arena12 {
  background-image: url(../../assets/arenas/wushidragongrotto.jpg);
}

.buttons {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 2;
}

.seconds {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fda90f;
  font-size: 70px;
}
